/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Common Style */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Hero Section */
.main-container{
    background-color: rgba(31, 31, 187, 0.877);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 150px 0;
}
.hero-paragraph{
    font-size: 34px;
    color: white;
    margin-left: 156px;
    position: relative;
}
.container:hover .hero-paragraph{
    animation: slider1 3s ease-in-out 0.2s
}
@keyframes slider1{
    from{
        left: -20%;
    }
    to{
        left: 0;
    }
}
.hero-paragraph p{
    line-height: 80px;
}
.hero-paragraph a{
    background-color: rgba(243, 71, 71, 0.904);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 10px 25px;
}
.fa-arrow-right{
    padding-left: 10px;
}
.img{
    width: 556px;
    height: 456px;
    position: relative; 
}
.container:hover .img{
    animation: slider2 3s ease-in-out 0.2s
}
@keyframes slider2{
    from{
        right: -20%;
    }
    to{
        right: 0;
    }
}

/* Player Blog Section Start */
.players-blog{
    margin: 100px;
}
.player-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.players{
    display: flex;
    width: 300px;
    height: 474px;
    padding: 15px;
    margin: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img{
    width: 300px;
    height: 256px;
    text-align: center;
}
.player-title{
    font-size: 28px;
    margin: 18px 0;
}
.paragraph{
    font-size: 16px;
    color: #6C6C6C;
}

/* Video Section Start */
.video-section{
    background-image: url(images/bg.jpg);
    padding: 100px 0;
}
.football-video{
    text-align: center;
}
.football-video h1{
    color: #FFFFFF;
    font-size: 34px;
    margin-top: 0;
}
.line hr{
    width: 45px;
    border:2px solid rgba(243, 71, 71, 0.904);
}
.football-video p{
    font-size: 18px;
    color: #b6b2b2ee;
    padding-bottom: 30px;
}

/* Trophy Section Start */
.trophy-section{
    padding: 80px 0;
    margin: 0 100px;
}
.trophy-section h1{
    font-size: 34px;
    margin-left: 20px;
}
.all-trophy{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.trophy{
    width: 222px;
    text-align: center;
    position: relative;
}
.trophy img{
    padding-bottom: 15px;
}
.trophy p{
    font-weight: 700;
}

/* Footer Section Start */
.footer-section{
    padding: 50px 0;
    text-align: center;
    position: relative;
    background-color: #e9e6e6a9;
}
.footer-img{
    width: 280px;
}
.icons{
    width: 40px;
    position: relative;
    display: flex;
    left: 45%;
}
.fab{
    padding: 8px;
    margin: 0 5px;
    background: #969BAB;
    border-radius: 100%;
    text-align: center; 
}
.footer-section p{
    font-size: 14px;
    margin-left: 30px;
}

/* Media Queries */
/* For Mobile Device */
@media only screen and (max-width:688px){
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
    }
    .hero-paragraph {
        font-size: 24px;
        color: white;
        margin: 0;
    }
    .img{
        width: 380px;
        height: 310px;
        object-fit: cover;
    }
    .hero-img{
        width: 100%;
        height: 100%;
        padding: 50px 0;
    }
    .players-blog{
        margin: 20px 0; 
        display: flex;
        justify-content: center;
    }
    .player-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .video-section{
        padding: 100px 0;
    }
    .football-video iframe{
        width: 450px;
    }
    .trophy-section{
        padding: 50px 0;
        margin: 0;
        text-align: center;
    }
    .all-trophy{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-left: 30%;
    }
    .icons{
        width: 40px;
        position: relative;
        display: flex;
        left: 35%;
    }
}